    body {
        width: 70%;
        max-width: 500px;
        padding: 5em 1em 1em 1em;
        margin: 0 auto;
        text-align: center;
        font-family: "Tahoma", sans-serif;
    }
    h1 {
        font-size: 2.5em;
    }
    input {
        font-size: 1.5em;
        font-family: "Tahoma", sans-serif;
        text-align: center;
        padding: 0.5em 0.5em 0.5em 0.5em;
        border-radius: 0.5em;
    }
    button {
        font-size: 1.5em;
        margin: 1.5em 0.5em 0.5em 0.5em;
        padding: 0.5em 0.5em 0.5em 0.5em;
        border-radius: 0.5em;
        border: none;
        font-family: "Tahoma", sans-serif;
    }
    button:hover {
        background: lightgrey;
    }
    .fas {
        font-size: 3em;
    }
